################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bot.service.manager/obj/bot.service.manager.csproj.nuget.g.targets
